:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  background: #f8f8ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero {
  width: 100%;
  height: 53rem;
  padding-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

#image1 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

#image2 {
  position: absolute;
  top: 31rem;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#contentBusca {
  width: 99rem;
  height: 12rem;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eaeaea;
  border-radius: 2rem;
}

#searchField {
  width: 31rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
  color: #7c7c8a;
  background: #f8f8ff;
  padding: 1.2rem 0.8rem 1.2rem 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2.4rem;
  border: none;
}

.searchContentName,
.searchContentLocal {
  display: flex;
}

#buttonSearch {
  width: 16rem;
  height: 5rem;
  color: #ffffff;
  background: #6246ea;
  border-radius: 1rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
}

#buttonSearch:hover {
  cursor: pointer;
  background: #5039c0;
}

h1 {
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
}

h1 span {
  color: #6246ea;
  font-size: 4rem;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
}

h3 {
  letter-spacing: 0.1rem;
  color: #e45858;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}

main {
  width: 121rem;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
}

#mainHeader {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4rem;
}

#buttonSelect {
  width: 19rem;
  height: 4rem;
  border: 1px solid #eaeaea;
  border-radius: 1rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#buttonNavActive {
  width: 8rem;
  height: 3rem;
  color: #ffffff;
  background: #6246ea;
  border-radius: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
}

#buttonNavActive:hover {
  cursor: pointer;
  background: #5039c0;
}

#buttonNavInactive {
  width: 8rem;
  height: 3rem;
  color: #6246ea;
  background: #ffffff;
  border-radius: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
}

#buttonNavInactive:hover {
  cursor: pointer;
  color: #ffffff;
  background: #6246ea;
}

#allCards {
  width: 121rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.gridCards {
  width: 38rem;
  height: 32rem;
  margin-bottom: 3rem;
  border: 1px solid #eaeaea;
  border-radius: 1rem;
  display: flex;
  align-content: space-between;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#cardImage1 {
  height: 15rem;
  width: 38rem;
  background: linear-gradient(
      0deg,
      rgba(98, 70, 234, 0.2),
      rgba(98, 70, 234, 0.2)
    ),
    url(./assets/image1.jpg);
  background-size: cover;
  border-radius: 1rem 1rem 0 0;
  background-position-y: center;
}

.cardImages {
  height: 15rem;
  width: 38rem;
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 1rem 1rem 0 0;
}

.cardImages::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: #5039c069;
  border-radius: 1rem 1rem 0 0;
}

.cardTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 1.6rem;
}

.cardDescrip {
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin-left: 1.6rem;
}

.cardLocal {
  font-size: 1.6rem;
  margin-left: 1.6rem;
  margin-bottom: 1.6rem;
  display: flex;
  align-items: center;
}

#headerIcons {
  background: #f8f8ff;
  padding: 1rem;
}

.imageLocal {
  margin-right: 0.8rem;
}

@media (max-width: 1290px) {
  :root {
    font-size: 50%;
  }
  #image2 {
    top: 23rem;
  }
}

@media (max-width: 1000px) {
  :root {
    font-size: 40%;
  }
  #image2 {
    top: 13rem;
  }
}

@media (max-width: 800px) {
  :root {
    font-size: 35%;
  }
  #image2 {
    top: 6rem;
  }
}

@media (max-width: 700px) {
  :root {
    font-size: 60%;
  }
  #hero {
    padding-top: 2rem;
  }

  #image2 {
    top: 26rem;
  }
  #contentBusca {
    width: 59rem;
    height: 25rem;
    flex-direction: column;
    justify-content: space-around;
  }
  #searchField {
    width: 45rem;
  }
  main,
  #allCards {
    width: 95vw;
  }
  .gridCards {
    width: 31rem;
  }
}

@media (max-width: 640px) {
  :root {
    font-size: 50%;
  }

  #image2 {
    top: 15rem;
  }
}

@media (max-width: 530px) {
  :root {
    font-size: 50%;
  }
  #image2 {
    top: 15rem;
  }
  .gridCards {
    width: 38rem;
  }
  #allCards {
    justify-content: center;
  }
}

@media (max-width: 485px) {
  :root {
    font-size: 40%;
  }
  #image2 {
    top: 5rem;
    opacity: .6;
  }
  #image1 {
    opacity: .6;
  }
  .gridCards {
    width: 30rem;
  }
  .gridCards {
    height: 35rem;
  }
  #allCards {
    gap:1rem;
  }
}

@media (max-width: 415px) {
  :root {
    font-size: 35%;
  }
  #image2 {
    top: -2rem;
  }
  #image1 {
    top: -4rem;
  }
}

@media (max-width: 355px) {
  :root {
    font-size: 30%;
  }
  #image2 {
    top: -12rem;
  }
  #image1 {
    display: none;
  }
}